* {
    margin: 0;
    padding: 0;
}

.slider {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    width: 60vw;
    height: 94vh;
    overflow: hidden;
    border: 3vh solid #2c2c2c;
    background-color: #2c2c2c;
}

.nav {
    margin-top: 1.5vh;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

.nav-bar {
    padding: 1rem;
    padding-top: 1rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: all .2s ease;
}

.nav-bar:hover .nav-bar-ring{
    background-color: white;
    border-color: white;
}
.nav-bar:focus .nav-bar-ring{
    background-color: #2c2c2c;
}


.nav-bar-ring{
    display: block;
    box-sizing: border-box;
    width: 1.5rem;
    height: 1.5rem;
    border: solid 0.3rem #005eff;
    background-color: #005eff;
    border-radius: 50%;
    transition: all .2s ease;
}

input[name=r] {
    position: absolute;
    visibility: hidden;
}

.slider-slides {
    width: 400%;
    height: 80vh;
    display: flex;
}

.slide {
    color: #fff;
    width: 25%;
    transition: all .2s ease;
}
.slide-sign {
    font-size: 2rem;
    margin-top: 2vh;
}

.slide img {
    width: 100%;
    height: 100%;
    border-radius: 2%;
}
@media screen and (max-width: 2100px){
    .slider {
        width: 61vw;
    }
    .slider-slides {
        height: 79vh;
    }
}
@media screen and (max-width: 2000px){
    .slider {
        width: 62vw;
    }
    .slider-slides {
        height: 78vh;
    }
}
@media screen and (max-width: 1900px){
    .slider {
        width: 63vw;
    }
    .slider-slides {
        height: 76vh;
    }
}
@media screen and (max-width: 1800px){
    .slider {
        width: 64vw;
    }
    .slider-slides {
        height: 74vh;
    }
}
@media screen and (max-width: 1700px){
    .slider {
        width: 65vw;
    }
    .slider-slides {
        height: 70vh;
    }
}
@media screen and (max-width: 1600px){
    .slider {
        width: 66vw;
    }
    .slider-slides {
        height: 67vh;
    }
}
@media screen and (max-width: 1500px){
    .slider {
        width: 67vw;
    }
    .slider-slides {
        height: 65vh;
    }
}
@media screen and (max-width: 1400px){
    .slider {
        width: 68vw;
    }
    .slider-slides {
        height: 61vh;
    }
}
@media screen and (max-width: 1300px){
    .slider {
        width: 69vw;
    }
    .slider-slides {
        height: 55vh;
    }
}
@media screen and (max-width: 1200px){
    .slider {
        width: 70vw;
    }
    .slider-slides {
        height: 50vh;
    }
    .slide-sign {
        margin-top: 5.5rem;
    }
    .nav {
        justify-content: center;
    }
}
@media screen and (max-width: 1100px){
    .slider {
        width: 71vw;
    }
    .slider-slides {
        height: 46vh;
    }
}
@media screen and (max-width: 1000px){
    .slider {
        width: 71.5vw;
    }
    .slider-slides {
        height: 43vh;
    }
}
@media screen and (max-width: 900px){
    .slider {
        width: 72.5vw;
    }
    .slider-slides {
        height: 38vh;
    }
}
@media screen and (max-width: 800px){
    .slider {
        width: 73.5vw;
    }
    .slider-slides {
        height: 34vh;
    }
}
@media screen and (max-width: 700px){
    .slider {
        width: 74.5vw;
    }
    .slider-slides {
        height: 30vh;
    }
}
@media screen and (max-width: 480px){
    .slider {
        width: 75rem;
    }
    .slider-slides {
        height: 25vh;
    }
}
@media screen and (max-width: 450px){
    .slider {
        width: 80vw;
    }
    .slider-slides {
        height: 60vw;
    }
    .slide-sign {
        margin-top: 8vh;
        font-size: 1.1rem;
    }
    .nav{
        margin-top: 0vh;
    }
    .nav-bar {
        padding: 1rem;
        padding-top: 1rem;
        width: 1rem;
        height: 1rem;
    }
    .nav-bar-ring{
        width: 1rem;
        height: 1rem;
        border: solid 0.1rem #005eff;
    }
}
@media screen and (max-width: 350px){
    .slider {
        width: 80vw;
    }
    .slider-slides {
        height: 50vw;
    }
}

#radio1:checked ~ .nav-bar > .ring1 {
    background-color: #2c2c2c;
}

#radio2:checked ~ .nav-bar > .ring2 {
    background-color: #2c2c2c;
}

#radio3:checked ~ .nav-bar > .ring3 {
    background-color: #2c2c2c;
}

#radio4:checked ~ .nav-bar > .ring4 {
    background-color: #2c2c2c;
}

#radio1:checked ~ .s1{
    margin-left: 0;
    background-color: #2c2c2c;
}

#radio2:checked ~ .s1{
    margin-left: -25%;
    background-color: #2c2c2c;
}

#radio3:checked ~ .s1{
    margin-left: -50%;
    background-color: #2c2c2c;
}

#radio4:checked ~ .s1{
    margin-left: -75%;
    background-color: #2c2c2c;
}

